:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px!important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.toast-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.toast {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.toast-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.toast-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.nowifi {
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999999;
}

footer {
    height: 76px;
}

#app {
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

#app::-webkit-scrollbar { 
    display: none; 
}

ion-button {
    height: unset!important;
}

.bg-primary {
    color: rgb(97, 202, 197);
}

#iconbar-triangle {
    transform: rotate(180deg);
}

#navigation-settings-icon {
    transform: rotate(45deg);
}

.logo {
    filter: invert(100%);
    max-height: 75px;
}

main#dashboard ion-icon {
    font-size: 7rem;
}

a {
    color: unset;
    text-decoration: none;
    transition: all .5s ease;
}

main {
    margin-top: calc(138px + 1rem)!important;
    margin-bottom: calc(76px + 1rem)!important;
}

footer, header {
    position: fixed;
    z-index: 10;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.img-preview {
    max-height: 150px;
    object-fit: cover;
}